.item-hover {
    position: relative;
    transition: all 0.3s ease 0s;
        z-index: 2;
        &:hover {
            .item-hover__content {
                z-index: 2;
                opacity: 1;
                visibility: visible;
            }     
        }
        &_transform:hover {
            transform: translate(-10px, -10px);
            box-shadow: 10px 10px  #95e1d3;
        }
    &__img {
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        background-image: linear-gradient(0.0deg, rgba(252,227,138,0.89) 0%, rgba(243,129,129,0.89) 100%);
        z-index: 2;
        opacity: 0;
        transition: all 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.slider {
    @include responsive-size(padding-top,70,30,1600);
    @include responsive-size(padding-bottom,70,30,1600);
    
    &__body {
        
    }

    &__container {
        position: relative;
    }

    &__slide {
        margin: auto 0;
        padding: 0 98px 0 68px;
        @media (max-width:$md2+px) {
            padding: 0 48px 0 28px;
        }
        @media (min-width:768px) {
            display: grid;
            grid-template: 1fr / 210px 1fr;
            align-items: center;
            column-gap: 30px;
        }
        @media (max-width:$md3+px) {
            padding:  30px;
        }
        @media (max-width:$md4+px) {
            padding:  20px;
        }
        
    }

    &__column {
    }


    &__image {

        &-social {
            border: 3px solid #95e1d3;
            width: 150px;
            height: 150px;
            @include responsive-size(width,150,100,$maxWidthContainer);
            @include responsive-size(height,150,100,$maxWidthContainer);
    
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        &-people {
            margin: 0 auto;
            overflow: hidden;
            border-radius: 50%;
            @include responsive-size(width,210,150,$maxWidthContainer);
            @include responsive-size(height,210,150,$maxWidthContainer);
        }

    }

    &__quote {
        font-family: Roboto;
        font-size: 24px;
        line-height: 36px;
        font-weight: 300;
        font-style: italic;
        color: #635454;
        margin: 0 0 15px 0;

        @media (max-width:$md3+px) {
            margin-top: 15px;
        }
        @include responsive-size(font-size,24,14,$maxWidthContainer);
        @include responsive-size(line-height,36,18,$maxWidthContainer);

    }

    &__quote-autor {
        font-family: 'Kaushan Script';
        font-size: 24px;
        line-height: 1.2;
        color: #333333;
        padding-left: 70px;
        position: relative;
        @include responsive-size(font-size,24,20,$maxWidthContainer);
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 60px;
            height: 3px;
            background-color: #f38181;
        }
    }




    &__controls {
    }

    &__arrows {
    }

    &__arrow {
        z-index: 10;
        position: absolute;
        width: 12px;
        height: 22px;
        top: 50%;
        transform: translate(0px,-50%);
        cursor: pointer; 
        &_prev {
            left: 23px;
            @media (max-width:$md4+px) {
                left: 10px;
            }
            background: url('../img/icons/arrow-right.svg') left no-repeat;
            transform: rotate(180deg) translate(0px,50%);
        }

        &_next {
            right: 23px;
            @media (max-width:$md4+px) {
                right: 10px;
            }
            background: url('../img/icons/arrow-right.svg') left no-repeat;
        }
    }
}

._ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    img{
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

body.ie{
    ._ibg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    ._ibg img{
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
}
